:root {
  --WHITE: #ffffff;
  --NAVY-BLUE: #2e2f42;
  --SLATE: #434455;
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --LIGHT-SLATE: #8e8f99;
  --MINT: #31d0aa;
  --DAIRY: #fcfcfc;
  --ROBOTO: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--SLATE);
  font-family: var(--ROBOTO);
  background-color: var(--WHITE);
}

.header-logo-studio {
  color: var(--NAVY-BLUE);
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav li a.active,
.nav li a.active:hover,
.nav li a.active:focus {
  color: var(--OCEAN);
}

.nav li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--OCEAN);
  border-radius: 2px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.address a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address a:hover,
.address a:focus {
  color: var(--OCEAN);
}

.hero {
  background-color: var(--NAVY-BLUE);
  padding: 188px 0;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE);
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  background-color: var(--IRIS);
  font-family: var(--ROBOTO);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 48px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--OCEAN);
  cursor: pointer;
}

.values {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none;
}

.section-items {
  gap: 24px;
}

.values-item {
  width: calc((100% - 72px) / 4);
}

.values-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 8px;
}

.values-content {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

.products {
  padding-bottom: 120px;
}

.products-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
  padding-bottom: 120px;
  margin-bottom: 72px;
}

.products-item {
  width: calc((100% - 48px) / 3);
}

.employees {
  background-color: var(--CLOUD);
  padding: 120px 0;
}

.employees-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
  margin-bottom: 72px;
}

.team {
  background-color: var(--WHITE);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employee {
  padding: 32px 0;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.designation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  text-align: center;
  margin-bottom: 8px;
}

.footer {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;
  display: flex;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-logo {
  display: inline-block;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-content {
  line-height: 1.5;
  color: var(--CLOUD);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-logo-studio {
  color: var(--CLOUD);
  display: inline-block;
}

.profile-button {
  font-family: var(--ROBOTO);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--IRIS);
  background-color: var(--CLOUD);
  padding: 12px 24px;
  border: 1px solid var(--CORNFLOWER);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.profile-button:hover,
.profile-button:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.service-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD);
  padding: 40px 32px;
  background-color: var(--IRIS);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-link:hover .service-text,
.service-link:focus .service-text {
  transform: translateY(0);
}

.service-link {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-link:hover,
.service-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.service-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 8px;
}

.service-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

.service-container {
  position: relative;
  overflow: hidden;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  height: 66px;
}

.portfolio-buttons {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.service {
  width: calc((100% - 48px) / 3);
}

.service-category-container {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.values-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--CLOUD);
  border-radius: 4px;
  margin-bottom: 8px;
}

.social-media-item-container {
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers {
  font-size: 36px;
  line-height: 1.11;
  color: var(--NAVY-BLUE);
  margin: 0 0 72px 0;
  text-align: center;
}

.customer-list {
  display: flex;
  gap: 24px;
}
.customer-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--LIGHT-SLATE);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--LIGHT-SLATE);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--OCEAN);
  color: var(--OCEAN);
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--OCEAN);
}

.social-media {
  fill: var(--CLOUD);
}

.footer-social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--WHITE);
  margin: 0 0 16px 0;
}

.footer-social-media-list {
  display: flex;
  gap: 16px;
}

.footer-social-media-item {
  width: 40px;
  height: 40px;
}

.footer-social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-brand {
  fill: currentColor;
}

.footer-social-media-account {
  fill: var(--CLOUD);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: var(--MINT);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: var(--OCEAN);
  border: none;
  fill: var(--WHITE);
}

.close-button svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.subscription {
  margin-left: 80px;
}

.subscription-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--WHITE);
}

.subscription-form {
  display: flex;
  gap: 24px;
}

.subscription-form .email {
  width: 264px;
  height: 40px;
  border: 1px solid var(--WHITE);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--WHITE);
}

.subscription-submit {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ROBOTO);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
  background-color: var(--IRIS);
  border: none;
  border-radius: 4px;
}

.subscription-send {
  margin-left: 16px;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 16px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
  display: block;
  margin-bottom: 4px;
}

.input-group {
  position: relative;
}

.input-container {
  position: relative;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: var(--IRIS);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .input-icon {
  fill: var(--IRIS);
}

.textarea-container {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: var(--IRIS);
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
}

.check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox:checked ~ .checkbox-label > .check {
  background-color: var(--OCEAN);
  border: none;
  fill: var(--CLOUD);
  /* height: 60px;
  width: 50px;
  resize: vertical; */
}

.privacy {
  color: var(--IRIS);
}

.modal-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: var(--ROBOTO);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
  background-color: var(--IRIS);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
